<mat-toolbar class="app-toolbar" color="transparent">
  <div class="app-toolbar__brand">
    <mat-icon class="app-toolbar__logo">bolt</mat-icon>
    <span class="brand">{{ title }}</span>
    <span class="app-toolbar__chip">Node Editor</span>
  </div>
  <span class="spacer"></span>
  <div class="app-toolbar__actions">
    <button
      mat-flat-button
      class="app-toolbar__action app-toolbar__action--new-diagram"
      type="button"
      matTooltip="새 다이어그램 탭 추가"
      (click)="onRequestNewDiagram()"
    >
      <mat-icon>add</mat-icon>
      새 다이어그램
    </button>
    <button mat-flat-button class="app-toolbar__action" type="button">
      <mat-icon>settings</mat-icon>
      Settings
    </button>
  </div>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
